.screen {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--seed-dimension-x5);
  padding: var(--seed-dimension-x4);
}

.section {
  display: flex;
  flex-direction: column;
  gap: var(--seed-dimension-x2);
}

.sectionTitle {
  margin: 0;
  font-size: var(--seed-font-size-t4);
  font-weight: var(--seed-font-weight-bold);
  line-height: var(--seed-line-height-t5);
  color: var(--seed-color-fg-neutral);
}

.sectionBody {
  margin: 0;
  font-size: var(--seed-font-size-t3);
  font-weight: var(--seed-font-weight-regular);
  line-height: var(--seed-line-height-t4);
  color: var(--seed-color-fg-neutral-muted);
}
