:root {
  --warm-white: #fbf4ed;
  --sun-yellow: #fea837;
  --twilight-sun: #b85b56;
  --deep-purple: #332a50;

  --neutral-50: #fafafa;
  --neutral-100: #f2f2f2;
  --neutral-200: #e4e4e4;
  --neutral-300: #d1d1d1;
  --neutral-500: #8c8c8c;
  --neutral-700: #4d4d4d;
  --neutral-900: #1f1f1f;
}
