@import 'tailwindcss';

@theme {
  --container-app: 430px;
  --color-canvas: #f4f4f5;
  --color-background: #ffffff;
  --color-foreground: #171717;
}

body {
  background: var(--color-canvas);
  color: var(--color-foreground);
}
